.idea
venv
Autama/__pycache__/
accounts/__pycache__/
accounts/migrations/__pycache__/
db.sqlite3
accounts/migrations/0*
AutamaProfiles/migrations/0*
*.DS_Store
Nucleus/__*
*.pyc
nucleus.pickle
dataset_cache_OpenAIGPTTokenizer
Autama.sock
Images/*.png

autama.pem
Sharice.pem

email.cfg
!email.cfg
