{% extends 'base.html' %}
<!--  comment goes in here -->
{% load static %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block content %}
<style>
    body {
	margin-top: 0px;  <!-- this was 50 -->
        padding-left: 3%;    <!-- this was 30px-->
	margin-bottom: 5%;   <!-- this was 50px-->
    }

    .info-container {
        text-align: left;
        margin-right: 0px;
	margin-left: 30px;  <!--this was 0px -->
        padding-left: 30px;  <!--this was 0px -->
        padding-right: 0px;
	padding-top: 3%;
	padding-bottom: 3%;  <!-- added this -->
    }

    .info-container div {
        display: inline-block;
        text-align: left;
	padding-left: 3%;
    }

    .photo img {
        max-height: 197px;
        max-width: 343px;
        object-fit: cover;
    }

    .feedback-container {
        padding-top: 3%;
        display: none;
	padding-left: 5%; <!-- this indents the feedback box-->
	<!-- added this line -->
    }

</style>

<script>
    function showFeedback() {
        div = document.getElementById("feedback").style.display="block";
    }

    function hideFeedback() {
        div = document.getElementById("feedback").style.display="none";
    }
</script>


<body>
    <!-- Team -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/teamphoto.png"/>
        </div>
        <div class="text">
            <h1>Meet the team</h1>
            <p>Let knowledge serve the city.</p>
        </div>
        <br>
    </div>


    <br>
    <!--  
    <input onclick="showFeedback()" style="background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none;" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;" name="feedback" value="Feedback">
comment goes in here -->
<!--margin-left:5% in style matches margin given to images()-->
<input onclick="showFeedback()" style="background-image: linear-gradient(90deg, #FF4E50 50%, #FF4E50 80%); border-style: none;margin-left: 5%;" class="btn btn-info" style="width:100px;position: absolute; top: 50%; transform: translateY(-50%)translateX(-50%); left: 50%;" name="feedback" value="Feedback">
    <div class="feedback-container" id="feedback">
        <form id="feedbackform">
            <textarea id="userFeedback" rows="5" cols="60" placeholder="Any comments, concerns, or suggestions?"></textarea>
            <br>
            <input type="submit" name="Submit" value="Submit">
            <button onclick="hideFeedback()">Close</button>
        </form>
    </div>


    <!-- Aaron -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Aaron-2.png"/>
        </div>

        <div class="text">
            <h1>Aaron</h1>
            <p>I have details.</p>
        </div>

    </div>

    <!-- Hao -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Hao-2.png"/>
        </div>

        <div class="text">
            <h1>Hao</h1>
            <p>I have details.</p>
        </div>

    </div>

    <!-- Kevin -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Kevin-2.png"/>
        </div>

        <div class="text">
            <h1>Kevin</h1>
            <p>I have details.</p>
        </div>

    </div>

    <!-- Michael -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Michael-2.png"/>
        </div>

        <div class="text">
            <h1>Michael</h1>
            <p>I have details.</p>
        </div>

    </div>

    <!-- Nick -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Nick-2.png"/>
        </div>

        <div class="text">
            <h1>Nick</h1>
            <p>I have details.</p>
        </div>

    </div>

    <!-- Ryan -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Ryan-2.png"/>
        </div>

        <div class="text">
            <h1>Ryan</h1>
            <p>I have details.</p>
        </div>

    </div>

    <!-- Sharice -->
    <div class="info-container">
        <div class="photo">
            <img src="/Images/Team/Sharice-2.png"/>
        </div>

        <div class="text">
            <h1>Sharice</h1>
            <p>I enjoy learning, eating, sleeping, reading, and dancing. :)</p>
        </div>

    </div>

</body>

{% endblock %}
