{% extends 'base.html' %}

{% block head %}
    <title>Chat</title>
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <h1>Chat!</h1>
    </div>

    <div>
        <p>All of the data in autama and user model are available for the frontend dev.
        <p>For example, the autama's name is {{autama.first}} {{autama.last}}.
        <p>While the user's name is {{user.get_username}}.
        <p>Do note that since the user model inherits from AbstractUser. So to get the user name use the associated
           function in the AbstractUser class.
    </div>

    <div>
        {% for a_message in message_chain %}
            <p>Message: {{a_message.message}} Sent on: {{ a_message.timeStamp }}</p>  <!-- timezone is in UTC -->
        {% endfor %}
    </div>

    <div>
        <form action="{% url 'Chat' pk=autama.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>


        <div class="list-group-item" style="border: none;position: relative;height: 94px;">
            <form action="{% url 'unclaim_from_chat' pk=autama.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input style="background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); border-style: none;" type="submit" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;" name="unclaim" value="Unclaim">
            </form>
        </div>
    </div>


    <style>
        .report_box {
            display: none;
        }
    </style>

    <script>
        function showReport() {
            div = document.getElementById("report").style.display="block";
        }

        function hideReport() {
            div = document.getElementById("report").style.display="none";
        }
    </script>

    <!-- <button onclick="showReport()" class="btn btn-info">Report</button> -->
    <input onclick="showReport()" style="background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); border-style: none;" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;" name="report" value="Report">

    <!-- https://www.tutorialspoint.com/How-to-Create-a-Multi-line-Text-Input-Text-Area-In-HTML -->
    <div class="report_box" id="report">
        <!-- <form action="???" method="post"> -->
        <!-- include csrf_token here -->
        <form>
            <br>
            <h3>Report Autama</h3>
            <textarea rows ="5" cols="60" name="description" placeholder="Please describe the issue(s) with this Autama."></textarea>
            <br>
            <input type="submit" value="Submit"/>
            <button onclick="hideReport()"/>Close</button>
        </form>
    </div>

{% endblock %}
