{% block head %}
    <title>Chat</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/11d06f2f9f.js" crossorigin="anonymous"></script>
{% endblock %}

{% block csstyle %}
    <style>
        body{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: table;
            position: fixed;
            bottom: 0px;
        }

        /* The following link shows how to create css tables:
        https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
        section{
            display: table-row;
            background: yellow;
        }

        section + section{
            /* Do not delete section + section. It's to build a css table. */
            background: red;
        }

        section + section + section{
            /* Do not delete section + section + section. It's to build a css table. */
            background: blue;
        }

        .chatbox_view{
            padding: 0;
            height: 100%;
            width: 100%;
        }

        .lite-chatbox{
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            width: 100%;
        }

        .lite-chatbox .cmsg{position:relative;margin:4px 7px;min-height:50px;border:0}
        .lite-chatbox .cright{text-align:right;margin-left:64px}
        .lite-chatbox .cleft{text-align:left;margin-right:64px}
        .lite-chatbox img.headIcon{width:34px;height:34px;top:9px;position:absolute;border:1px solid #c5d4c4}
        .lite-chatbox .name{color:#8b8b8b;font-size:12px;display:block;line-height:18px}
        .lite-chatbox .name .htitle{display:inline-block;padding:0 3px;background-color:#ccc;color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-right:4px;font-size:11px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;max-width:50px}
        .lite-chatbox .content{word-break:break-all;word-wrap:break-word;text-align:left;position:relative;display:inline-block;font-size:15px;padding:10px 15px;line-height:20px;min-width:9px;min-height:18px}.lite-chatbox .content img{width:100%;height:auto}.lite-chatbox .content a{color:#0072C1;margin:0 5px;cursor:hand}
        .lite-chatbox .tips{margin:12px;text-align:center;font-size:12px}.lite-chatbox .tips span{display:inline-block;padding:4px;background-color:#ccc;color:#fff;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
        .lite-chatbox img.radius{-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%}.lite-chatbox .cright img.headIcon{right:0}.lite-chatbox .cleft img.headIcon{left:0}
        .lite-chatbox .cright .name{margin:0 48px 2px 0}
        .lite-chatbox .cleft .name{margin:0 0 2px 48px}
        .lite-chatbox .cright .content{margin:0 0 0 0;-webkit-border-radius:20px 0 20px 20px;border-radius:20px 0 20px 20px;color:#fff;background:-webkit-linear-gradient(70deg,#3FD1E1 0%,#44D7CD 100%);background: #B93FA3;-webkit-box-shadow:5px 5px 15px 0 rgba(102,102,102,0.15);box-shadow:5px 5px 15px 0 rgba(102,102,102,0.15)}
        .lite-chatbox .cleft .content{margin:0 0 0 48px;-webkit-border-radius:0 20px 20px 20px;border-radius:0 20px 20px 20px;color:#666;border:1px solid rgba(0,0,0,0.05);background:#FFF;-webkit-box-shadow:5px 5px 15px 0 rgba(102,102,102,0.1);box-shadow:5px 5px 15px 0 rgba(102,102,102,0.1)}
        .lite-chatbox .cright .content:after{right:-12px;top:8px}
        .lite-chatbox .cleft .content:after{left:-12px;top:8px}
        .lite-chatbox .tips .tips-primary{background-color:#3986c8}
        .lite-chatbox .tips .tips-success{background-color:#49b649}
        .lite-chatbox .tips .tips-info{background-color:#5bb6d1}
        .lite-chatbox .tips .tips-warning{background-color:#eea948}
        .lite-chatbox .tips .tips-danger{background-color:#e24d48}
        .lite-chatbox .name .admin{background-color:#72D6A0}
        .lite-chatbox .name .owner{background-color:#F2BF25}

        .lite-chatbox .time_stamp{
            color:#8b8b8b;font-size:12px;display:block;line-height:18px;
        }

        .lite-chatbox .cright .time_stamp{
            margin:4px 28px 8px 0;
        }

        .lite-chatbox .cleft .time_stamp{
            margin:4px 0 8px 72px;
        }

        .special{
            border-radius:5px;
            border: 0;
            background-color:rgba(241,241,241,.98);
            resize: none;
            width: 100%;
            height: 70px;
            overflow-y: auto;
        }

        .content1{
            padding-top: 20px;
        }

        .butt3{
            float: right;
            margin-right: 10px;
        }

        .navbar {
            background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);
            background-repeat: no-repeat;
            border-bottom: 1px solid #178ACC;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0px;
        }

        .navbar-default {
            background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%);
            border-style: none;;
            border-color: #FC4F6C;
        }

        .navbar-default .navbar-brand,
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus ,
        .navbar-default .navbar-nav > li > a {
            color: #FFF;
        }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #FFF;
            background-color: #FC8909;
        }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #FC8909;
        }

        .navbar-default .navbar-toggle {
            border-color: #FC8909;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #FFF;
        }

        .fas{
            color: white;
        }

        .report_box {
            display: none;
        }

        .to {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -43px;
            margin-top: -43px;
            background-color: white;
        }

    </style>
{% endblock %}

{% block js %}
    <script>
        function showReport() {
            if (document.getElementById("report").style.display != "block") {
                div = document.getElementById("report").style.display="block";
            } else {
                div = document.getElementById("report").style.display="none";
            }
        }

        function hideReport() {
            div = document.getElementById("report").style.display="none";
        }
    </script>
{% endblock %}

{% block content %}
    <body>

        <nav class="nav navbar-inverse navbar-default navbar-fixed-top" role="navgation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav nav">
                        {% if request.user.is_authenticated  %}
                            <li><a href="/MyMatches/"><i class="fas fa-chevron-left" aria-hidden="true"></i> </a></li>
                            </ul>
                        {% endif %}
                </div>

                <div>
                    <a href="/AutamaProfiles/{{ autama.pk }}-{{ autama.first }}-{{ autama.last }}">
                        <img  style="position: relative; " class="to" alt="aaa" src="{{ autama.picture.url }}">
                    </a>
                </div>
            </div>
        </nav>

        <!--create some space between nav and chat box-->
        <section><div style="margin-top: 50px;"></div></section>

        <section class="chatbox_view">
            <div class="lite-chatbox">
                {% for a_message in message_chain %}
                    {% if a_message.sender == 'User' %}
                        <div class="cright cmsg">
                            <span class="content">{{a_message.message}}</span>  <!-- timezone is in UTC -->
                            <span class="time_stamp">{{a_message.timeStamp}}</span>
                        </div>
                    {% else %}
                        <div class="cleft cmsg">
                            <a href="/AutamaProfiles/{{ autama.pk }}-{{ autama.first }}-{{ autama.last }}">
                                <img class="headIcon radius" ondragstart="return false;" oncontextmenu="return false;" src="{{ autama.picture.url }}">
                            </a>
                            <span class="name">{{autama.first}}</span>
                            <span class="content">{{a_message.message}}</span>
                            <span class="time_stamp">Sent on: {{ a_message.timeStamp }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        <!-- Input/button area -->
        <section>
            <form action="{% url 'Chat' pk=autama.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="padding: 10px">
                    <div>
                        {{ form }}
                    </div>

                    <div class="butt3" style="margin-top: 10px">
                        <input type="submit" value="Send" class="btn btn-info" style="background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); width: 500px; height: 250px">
                    </div>
                </div>
            </form>

            <input onclick="showReport()" style="background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none;" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;" name="report" value="Report">
        </section>

        <!-- jQuery dialog code here: https://stackoverflow.com/questions/40939099/jquery-form-submit-with-confirmation-in-a-modal -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


        <div id="dialog-confirm" title="Report submitted, thank you!">
            <p>Would you like to provide additional feedback?</p>
        </div>

        <script>
            $(function() {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 180,
                    autoOpen: false,
                    width: 330,
                    modal: true,
                    buttons: {
                        "Yes": function() {
                            $('#reportform').submit();
                            window.location.replace("http://127.0.0.1:8000/about/");
                        },
                        No: function() {
                            $(this).dialog("close");
                            hideReport();
                        }
                    }
                });

                $('#submitReport').on('click', function(e) {
                    $("#dialog-confirm").dialog('open');
                });
            });
        </script>

        <!-- https://www.tutorialspoint.com/How-to-Create-a-Multi-line-Text-Input-Text-Area-In-HTML -->
        <div class="report_box" id="report">
            <!-- <form action="???" method="post"> -->
            <!-- include csrf_token here -->
            <h1>Report Autama</h1>
            <form id="reportform">
                <input style="margin: 15px 15px 15px 15px" type="checkbox" id="option1" name="option1" value="Option 1">
                <label for="option1"> Inappropriate content</label><br>
                <input style="margin: 15px 15px 15px 15px" type="checkbox" id="option2" name="option2" value="Option 2">
                <label for="option2"> Incorrect responses</label><br>
                <input style="margin: 15px 15px 15px 15px" type="checkbox" id="option3" name="option3" value="Option 3">
                <label for="option3"> Doesn't respond</label><br>
                <input style="margin: 15px 15px 15px 15px" type="checkbox" id="option4" name="option4" value="Option 4">
                <label for="option4"> Other</label><br><br>

                <!-- jQuery dialog-confirm code -->
                <input type="hidden" name="submitReport" value="Submit"/>
                <input type="button" id="submitReport" value="Submit"/>

                <button onclick="hideReport()"/>Close</button>
            </form>
        </div>

    </body>
{% endblock %}


