{% extends 'base.html' %}

{% block content %}
    <div style="width: 80%;margin: auto; padding-top: 50px;">
        <h1>Create an Autama</h1>
        <br>

        {% if user.my_Autama < my_autama_limit %}
            <div>
                {% if user.my_Autama == 0 %}
                    <p>Hi there!</p>
                    <P>{{ user.username }} was it? Nice to meet you.</P>
                    <p>I'm Dr. Autama, and I'm glad you're interested in helping me create Autamas.</p>
                {% else %}
                    <P>Hi again!</P>
                    <p>I'm glad you want to make more Autamas.</p>
                {% endif %}
                <p>Creating an Autama is easy. Just give it a name and a persona by filling out everything below and hitting the "Create" button.</p>
                <p>To make it even easier, I will provide a random picture for your Autama.</p>
                <br>
            </div>

            <div style="color: red;font-size: 14px">
                {{ error }}
            </div>

            <form action="/CreateAutama/" method="post">
                <div class="form-group">
                    <label for="firstname">firstname</label>
                    <input type="text" class="form-control" id="firstname" placeholder="firstname" name="firstname">
                </div>

                <div class="form-group">
                    <label for="lastname">lastname</label>
                    <input type="text" class="form-control" id="lastname" placeholder="lastname" name="lastname">
                </div>
                
                <div>
                    <br>
                    <p>Please create a persona for your Autama by providing some details about your Autama.</p>
                    <p>The details you provide should describe who the Autama is.</p>
                    <p>Below are some example details:</p>
                    <ul>
                        <li>I like cars.</li>
                        <li>I work at a factory.</li>
                        <li>I live in the mountains.</li>
                        <li>I am a student.</li>
                        <li>My favorite color is purple.</li>
                        <li>My best friend is a professional curler.</li>
                        <li>My mom picks out my outfit everyday.</li>
                    </ul>
                    <p>The first three details will be shown to other users.</p>
                    <br>
                </div>

                <div class="form-group">
                    <label for="interest1">Detail 1</label>
                    <input type="text" class="form-control" id="interest1" placeholder="Detail 1" name="interest1">
                </div>

                <div class="form-group">
                    <label for="interest2">Detail 2</label>
                    <input type="text" class="form-control" id="interest2" placeholder="Detail 2" name="interest2">
                </div>

                <div class="form-group">
                    <label for="interest3">Detail 3</label>
                    <input type="text" class="form-control" id="interest3" placeholder="Detail 3" name="interest3">
                </div>

                <div class="form-group">
                    <label for="interest4">Detail 4</label>
                    <input type="text" class="form-control" id="interest4" placeholder="Detail 4" name="interest4">
                </div>

                <div class="form-group">
                    <label for="interest5">Detail 5</label>
                    <input type="text" class="form-control" id="interest5" placeholder="Detail 5" name="interest5">
                </div>

                <div class="form-group">
                    <label for="interest6">Detail 6</label>
                    <input type="text" class="form-control" id="interest6" placeholder="Detail 6" name="interest6">
                </div>
                
                <div>
                    <br>
                    <p>Make sure you filled in everything the way you want it because you can't edit your Autama later.</p>
                    <p>Thank you for creating a custom Autama.</p>
                    <br>
                </div>

                <input hidden name="id" value="{{ user.id }}">
                <button style="background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none;" type="submit" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;">Create</button>
                
                <br>
                <br>

                {% csrf_token %}
            </form>
        {% else %}
            <div>
                <p>Sorry!</p>
                <p>It looks like you have created the maximum amount of Autamas allowed.</p>
            </div>

            <div>
                <br>
                <img src="/Images/Team/Michael.jpg"/>
            </div>
        {% endif %}
    </div>
{% endblock %}
