<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
        {% if user.is_superuser %}
            <a href="/admin/">Admin Page</a> <br>
        {% endif %}
        <h1>Hello, {{ request.user }}</h1>
        <h1>Are you ready to meet the one?</h1>
        <p>Welcome to Automa.</p>
        <br>
        <a href="/accounts/profile/">Profile Page</a><br>
        <a href="/test_db_add/">Test DB Adding an entry</a><br>
        <a href="/test_db_lookup/">Test DB Lookup an entry</a><br>
        <br>
        <form>
            <button type="submit" formaction="/logout/">Logout</button>
        </form>
</body>
</html>
