{% extends 'base.html' %}

{% block csstyle %}
    <style>
        .create_button{
            background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%);
            height: 100%;
            width: 100%;
            padding: 20px;
            color:white;
            font-size: 5vw;
            text-align: center;
            border-radius: 14px;
        }

        .flexbox-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background: #c299ff
        }

        .flexbox-image {
            width: 125px;
            float: left;
            padding-top: 10px;
            padding-left: 20px;
        }

        .circular--portrait {
            /*position: relative;*/
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 50%;
            display: inline-block;
        }

        .circular--portrait img {
            max-width: 100%;
            height: auto;
        }

        .autama_description{
            float: left;
            padding-left: 20px;
            width: 85%;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="width: 80%;margin: auto; padding-top: 50px;">
        <h1>My Autamas</h1>
        <br>
        
        <div>
            <p>Each user is allowed {{ my_autama_limit }} My Autama creations.</p>
            <p>Remaining My Autama creations: {{ difference }}</p>
            <br>
        </div>

        {% if user.my_Autama < my_autama_limit %}
            <form action="/CreateAutama/">
                <input type="submit" value="Create an Autama" class="create_button"/>
            </form>

            <br>
            <br>
        {% else %}
            <p>Sorry, you have used up all your My Autama creations.</p>
            <br>
            <br>
        {% endif %}

        <div>
            {% for autama in my_autamas %}
                <a href="{% url 'Chat' pk=autama.pk %}" style="color: black;">
                    <div class="flexbox-wrapper">
                        <div class="flexbox-image">
                            <div class="circular--portrait">
                                <img src="{{ autama.picture.url }}" alt="Avatar"/>
                            </div>
                        </div>

                        <div class="autama_description">
                            <h5><b>{{ autama.first }} {{ autama.last }} </b></h5>
                            <p>
                                <b>Interests:</b>
                                {{ autama.interest1 }}
                                {{ autama.interest2 }}
                                {{ autama.interest3 }}
                            </p>
                            <p>
                                <b>Creator:</b>
                                {{ autama.creator }}
                            </p>
                            <p>
                                <b>Followers:</b>
                                {{ autama.nummatches }}
                            </p>
                        </div>
                    </div>
                </a>
            
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
