{% extends 'base.html' %}


{% block csstyle %}

    <style>
           .circular--portrait {
                display: inline-block;
                position: relative;
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
           }

           .circular--portrait img {
                width: 100%;
                height: auto;
           }

           .column {
                float: left;
                width: 33.33%;
                padding: 5px;
           }

            /* Clearfix (clear floats) */
            .row::after {
                content: "";
                clear: both;
                display: table;
            }

            div.container {
                margin-top: 50px;
            }

            div.profile-container {
                text-align: center;
            }




    </style>

{%  endblock %}


{% block content %}

<div class="container">
    <title>My Claimed Autama</title>
    <br>
    <h1>Claimed ({{ claims.count }})</h1>

    <div class="row">
        {% for a_claim in claims %}
        <div class="column">

            <div class="profile-container">

            <a href="{% url 'Chat' pk=a_claim.autamaID.pk %}" class="image">
                <div class="circular--portrait">
                    <img src="{{ a_claim.autamaID.picture.url }}" alt="Avatar"/>
                </div>
            </a>

            <div class="name">
                <h3>{{a_claim.autamaID.first}} {{a_claim.autamaID.last}}</h3>
            </div>

                <div class="list-group-item" style="border: none;position: relative;height: 94px;">
                    <form action="{% url 'unclaim' pk=a_claim.autamaID.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input style="background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); border-style: none;" type="submit" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;" name="unclaim" value="Unclaim">
                    </form>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}


{% block js %}
{% endblock %}
