{% extends 'base.html' %}

{% block csstyle %}
    <!-- https://stackoverflow.com/questions/16998947/putting-text-and-images-on-same-line-within-a-list-item-html-css -->
    <!-- Turning landscape images into circular squares: https://www.webfx.com/blog/web-design/circular-images-css/ -->
    <!-- Display images side by side (in a row): https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_images_side_by_side -->
    <style>
        .circular--portrait {
            position: relative;
            width: 70%;
            height: auto;
            overflow: hidden;
            border-radius: 50%;
            display: inline-block;
        }

        .circular--portrait img {
            max-width: 100%;
            height: auto;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        div.container {
            margin-top: 50px;
        }

        div.search--bar {
            margin-top: 20px;
        }

        #search-input {
            background-image: url("/Images/Images/search.png");
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-top: 24px;
            margin-bottom: 12px;
        }

        .flexbox-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flexbox-image {
            width: 32%;
            padding: 0.5%;
        }

        .recent-msg {
            justify-content: center;
            align-items: center;
        }

        a {
            flex: 0 0 0;
        }

    </style>
{% endblock %}


{% block content %}

    <script>
        function dynamicSearch() {
            matches = document.getElementsByClassName("some-match");
            messages = document.getElementsByClassName("some-msg-box");
            var input, filter, name, msg;
            input = document.getElementById('search-input');
            filter = input.value.toLowerCase();

            for (const match of matches) {
                name = match.getElementsByClassName("profilename")[0].innerText;

                if (name.toLowerCase().indexOf(filter) === -1) {
                    match.style.display = 'none';
                } else {
                    match.style.display = 'inline-block';
                }
            }

            for (const some_msg of messages) {
                name = some_msg.getElementsByClassName("profilename")[0].innerText;
                msg = some_msg.getElementsByClassName("some-recent-msg")[0].innerText;

                if (name.toLowerCase().indexOf(filter) === -1 && msg.toLowerCase().indexOf(filter) === -1) {
                    some_msg.style.display = 'none';
                } else {
                    some_msg.style.display = 'flex';
                }
            }
        }
    </script>


    <div class="container" onload="matchNotifications()">

        <!-- From https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
        <input type="text" id="search-input" onkeyup="dynamicSearch()" placeholder="Search for matches..." title="Type in a name">

        <title>My Matches</title>
        <br>
        <h1>New Matches {{num_matches}}</h1>

        <div class="row">
            {% for a_profile in user_matches %}
                <div class="column some-match">
                    <a href="{% url 'Chat' pk=a_profile.autamaID.pk %}" class="image">
                        <div class="circular--portrait">
                            <img src="{{ a_profile.autamaID.picture.url }}" alt="Avatar"/>
                        </div>
                    </a>
                    <div class="content">
                        <h3 class="profilename">{{a_profile.autamaID.first}} {{a_profile.autamaID.last}}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>


        <br>
        <br>

        <!-- aligning images with text: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_img_align -->
        <h1>Messages {{num_messages}}</h1>

        <br>

        {% for a_profile, a_message, a_chain in user_messages %}

            <div class="flexbox-wrapper some-msg-box">
                <div class="flexbox-image">
                    <a href="{% url 'Chat' pk=a_profile.pk %}" class="image">
                        <div class="circular--portrait">
                            <img src="{{ a_profile.picture.url }}" alt="Avatar" align="left"/>
                        </div>
                    </a>
                </div>
                <div class="recent-msg">
                    <br>
                    <h3 class="profilename">{{ a_profile.first }} {{ a_profile.last }} </h3>
                    <p class="some-recent-msg">{{ a_message }}</p>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}