{% extends 'base.html' %}

{% block head %}
    <title>My Matches</title>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>Matches (5)</h1>

        <!-- https://stackoverflow.com/questions/16998947/putting-text-and-images-on-same-line-within-a-list-item-html-css -->
        <!-- Turning landscape images into circular squares: https://www.webfx.com/blog/web-design/circular-images-css/ -->
        <!-- Display images side by side (in a row): https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_images_side_by_side -->
        <style>
            .circular--landscape {
                display: inline-block;
                position: relative;
                width: 150px;
                height: 150px;
                overflow: hidden;
                border-radius: 50%;
            }

            .circular--landscape img {
                width: auto;
                height: 100%;
                margin-left: -50px;
            }

            .column {
                float: left;
                width: 33.33%;
                padding: 5px;
            }

            /* Clearfix (clear floats) */
            .row::after {
                content: "";
                clear: both;
                display: table;
            }
        </style>

        <div class="row">
            <div class="column">
                <a href="http://127.0.0.1:8000/Autama/aid=00001" class="image">
                    <div class="circular--landscape">
                        <img src="https://i.kym-cdn.com/entries/icons/facebook/000/031/003/cover3.jpg" alt="Avatar"/>
                    </div>
                </a>
                <div class="content">
                    <h3>Mike-Sulley</h3>
                </div>
            </div>

            <div class="column">
                <a href="http://127.0.0.1:8000/Autama/aid=00002" class="image">
                    <div class="circular--landscape">
                        <img src="https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F006%2F506%2Fpogchamp.jpg" alt="Avatar"/>
                    </div>
                </a>
                <div class="content">
                    <h3>PogChamp</h3>
                </div>
            </div>

            <div class="column">
                <a href="http://127.0.0.1:8000/Autama/aid=00003" class="image">
                    <div class="circular--landscape">
                        <img src="https://i.pinimg.com/originals/22/d5/e7/22d5e73c214a5152c66c02f562fa6dee.jpg" alt="Avatar"/>
                    </div>
                </a>
                <div class="content">
                    <h3>Baby Hippo</h3>
                </div>
            </div>

            <div class="column">
                <a href="http://127.0.0.1:8000/Autama/aid=00004" class="image">
                    <div class="circular--landscape">
                        <img src="https://i.kym-cdn.com/entries/icons/facebook/000/030/904/Screenshot_10.jpg" alt="Avatar"/>
                    </div>
                </a>
                <div class="content">
                    <h3>Kronk</h3>
                </div>
            </div>

            <div class="column">
                <a href="http://127.0.0.1:8000/Autama/aid=00005" class="image">
                    <div class="circular--landscape">
                        <img src="https://ae01.alicdn.com/img/pb/448/474/811/811474448_120.jpg" alt="Avatar"/>
                    </div>
                </a>
                <div class="content">
                    <h3>Spongebob</h3>
                </div>
            </div>
        </div>

        <br>
        <br>

        <!-- aligning images with text: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_img_align -->
        <h1>Messages (3)</h1>


        <br>
        <div class="column">
            <div class="row">
                <a href="http://127.0.0.1:8000/Autama/aid=00005/chat" class="image">
                    <div class="circular--landscape">
                        <img src="https://ae01.alicdn.com/img/pb/448/474/811/811474448_120.jpg" alt="Avatar" align="left"/>
                    </div>
                </a>
                <h2>Spongebob: Is this Patrick? Let's go find Squidward!</h2>
            </div>

            <div class="row">
                <!-- anotha one -->
            </div>
        </div>
    </div>
{% endblock %}