{% extends 'base.html' %}
{% load extratags %}
{% block csstyle %}
    <style>

    .side-bar .list-group-item {
        border: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid #C0C0C0;
    }

    .centerdiv{
        float:left;
        border-right: 1px solid black;
        padding-bottom:1600px;
        margin-bottom:-1600px;
    }

    div.profile{
        height: 400px;
        width: 260px;
        border: 2px solid #d4cce0;
        box-shadow: 10px 10px 5px #888888;
        border-radius: 15px;
        float: none;
        display: block;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 15%;
    }

    div.profile > img{
        height: 300px;
        width: 260px;
        border-radius: 15px;
    }

     div.profile > div:nth-child(1){
        background-color: #9e9e9e59;
    }
    div.profile > div:nth-child(2){
        margin-top: 30px;
    }

    </style>

{%  endblock %}
{% block content %}

    <div class="container" style="margin-top: 50px; margin-left: 2px">
        <div class="row">
            <div class="col-sm-4">
                <div class="list-group side-bar" >
                    <div class="h3" style="height:45px; border-radius: 3px; background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); text-align: center; vertical-align: center">
                        My Profile
                    </div>
                    <div style="margin-top: 45%">
                        <p>ACCOUNT SETTINGS</p>
                        <div class="list-group-item" style="border-top: 1px solid #C0C0C0;">
                           <span>User ID:</span>&nbsp&nbsp&nbsp<span>u{{ user.id }}</span>
                        </div>
                        <div class="list-group-item">
                           <span>Username:</span>&nbsp&nbsp&nbsp<span>{{ user.username | format_none}}</span>
                        </div>
                        <div class="list-group-item">
                           <span>Interest1:</span>&nbsp&nbsp&nbsp<input name="interest1" value="{{user.interests1 | format_none }}">
                        </div>
                        <div class="list-group-item">
                           <span>Interest2:</span>&nbsp&nbsp&nbsp<input name="interest2" value="{{user.interests2 | format_none }}">
                        </div>
                        <div class="list-group-item">
                           <span>Interest3:</span>&nbsp&nbsp&nbsp<input name="interest3" value="{{user.interests3 | format_none }}">
                        </div>
                        <div class="list-group-item">
                           <span>Interest4:</span>&nbsp&nbsp&nbsp<input name="interest4" value="{{user.interests4 | format_none }}">
                        </div>
                        <div class="list-group-item">
                           <span>Interest5:</span>&nbsp&nbsp&nbsp<input name="interest5" value="{{user.interests5 | format_none }}">
                        </div>
                        <div class="list-group-item">
                           <span>Interest6:</span>&nbsp&nbsp&nbsp<input name="interest6" value="{{user.interests6 | format_none }}">
                        </div>

                        <div class="list-group-item">
                            <span>Name: {{ request.user.first_name }} {{request.user.last_name }}</span>
                        </div>
                        <div class="list-group-item">
                           <span>Gender:</span>
                           <label style="width: 60px;margin-left: 10px"><input name="sex" type="radio" value="0" {% if request.user.sex == 0 %} checked {% endif %}/>male </label>
                           <label><input name="sex" type="radio" value="1" {% if request.user.sex == 1 %} checked {% endif %}/>female </label>
                        </div>
                        <div class="list-group-item">
                           <span>email:</span>&nbsp&nbsp<input name="email" value="{{ request.user.email |format_none }}">
                        </div>

                        {% if myself %}
                        <div class="list-group-item" >
                            <input type="password" name="password" id="password">
                            <button type="button" style="background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); border-style: none;" class="btn btn-info" style="margin-top: 5px" change_password()>
                               Change Password
                            </button>
                        </div>
                        {% endif %}

                        {% if myself %}
                        <div class="list-group-item" style="border: none;position: relative;height: 94px;">
                           <input style="background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); border-style: none;" type="submit" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;">
                        </div>
                       {% endif %}

                    </div>
                </div>
            </div>
            <div class="centerdiv"></div>
            <div class="col-sm-8 ">
                <div class="profile ">

                    <img {% if request.user.image %}src="{{ request.user.image.url }}" {% endif %} id="avatar">
                    <span style="font-weight: bold; font-size: x-large;">{{ request.user.first_name }}</span>
                    <div>
                        <input type="file" name="photo" style="display: none;" id="upload-img"/>

                       {% if myself %}
                        <button type="button"  style="background-image: linear-gradient(90deg, rgba(252, 79, 108, 1) 50%, rgba(245, 114, 88, 1) 70%); border-style: none; display:block; margin:0 auto" class="btn btn-info" id="upload-img-btn" >
                           Change Picture
                        </button>
                       {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script type="application/javascript">
    $(document).ready(function(){
        $('#upload-img-btn').click(function(){
            $('#upload-img').click();
        });

        $('#upload-img').change(function () {

            if($(this).val() != ""){
                fileLoad(this);
            }
        })

    });

    function change_password() {
        var password = $("#password").val()
        $.post("/accounts/reset-password/",{"password":password,"csrfmiddlewaretoken":"{{ csrf_token }}"},function(result){
            alert("Successfully changed");
          });

    }

    function fileLoad(ele){
        var formData = new FormData();

        var name = $(ele).val();

        var files = $(ele)[0].files[0];

        formData.append("file", files);
        formData.append("name", name);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        $.ajax({
            url: "/accounts/change-avatar/",
            type: 'POST',
            data: formData,
            processData: false,// jquery don't process the data
            contentType: false, // jQuery not to set Content-Type
            beforeSend: function () {
            },
            success: function (responseStr) {
               // successfully change
               $("#avatar").attr("src", JSON.parse(rchengedesponseStr)['avatar'] + "?a"+Date());
               alert("Successfully changed");
            }
            ,
            error : function (FresponseStr) {
                alert("Fail to edit");
            }
        });
    }


    </script>
{% endblock %}>