{% extends 'base.html' %}


{% block csstyle %}
    <style>
    div.profile{
        height: 450px;
        width: 350px;
        border: 2px solid #d4cce0;
        box-shadow: 10px 10px 5px #888888;
        border-radius: 15px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        margin-bottom: auto;
        overflow: scroll;
    }

    div.profile > img{
        height: 370px;
        width: 350px;
        border-radius: 15px;
    }

     div.profile > div:nth-child(1){
        background-color: #9e9e9e59;
    }

    div.profile > div:nth-child(2){
        margin-top: 30px;
    }

    .name{
        background: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%);
        -webkit-background-clip: text;
        color: transparent;
    }

    .intro{
        margin-top: auto;
        float: left;
        height:45px;
        border-radius: 3px;
        background-image:linear-gradient(90deg, #6737E5 50%, #B93FA3 80%);
        text-align: center;
        vertical-align: center;
        margin-left: 15px;
        color: wheat;

    }

    </style>
{%  endblock %}


{% block content %}
    <h2 class="intro" style="margin-top: 50px;">
        My Profile
    </h2>
    <div style="width: 80%;  margin: auto; ">

        <div class="profile">
            <img {% if request.user.image %}src="{{ request.user.image.url }}" {% endif %} id="avatar">
            <span class="name" style="font-weight: bold; font-size: xx-large; margin-left: 10px">{{ user.first_name }} {{user.last_name }}</span>

            <div style="font-size: x-large; color: black; margin-left: 10px; margin-bottom: 5px">
                Introduce
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                User ID: {{ user.id  }}
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                Username: {{ user.username }}
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Interest1:</span><input name="interest1" value="{{user.interests1 }}">
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Interest2:</span><input name="interest1" value="{{user.interests2 }}">
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Interest3:</span><input name="interest1" value="{{user.interests3 }}">
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Interest4:</span><input name="interest1" value="{{user.interests4 }}">
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Interest5:</span><input name="interest1" value="{{user.interests5 }}">
            </div>
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Interest6:</span><input name="interest1" value="{{user.interests6 }}">
            </div>

            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                Email: {{ request.user.email }}
            </div>

            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px">
                <span>Gender:</span>
                <label style="width: 60px;margin-left: 10px"><input name="sex" type="radio" value="0" {% if request.user.sex == 0 %} checked {% endif %}/>male </label>
                <label><input name="sex" type="radio" value="1" {% if request.user.sex == 1 %} checked {% endif %}/>female </label>
            </div>
            {% if myself %}
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px; display: block">
                <input type="password" name="password" id="password">
                <button type="button" style="display: block; background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none;" class="btn btn-info" style="margin-top: 5px" change_password()>
                   Change Password
                </button>
            </div>
            {% endif %}
             {% if myself %}
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px; display: block">
                <input type="file" name="photo" style="display: none;" id="upload-img"/>
                <button type="button"  style=" float:left; background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none; " class="btn btn-info" id="upload-img-btn" >
                    Change Picture
                 </button>
            </div>
            {% endif %}

            {% if myself %}
            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px; display: inline-block">
               <input style="background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none;" type="submit" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;">
            </div>
             {% endif %}

            <div style="font-size: medium; color: gray; margin-left: 10px; margin-bottom: 5px; display: block">
                 <a href="/logout/">
                    <button type="button"  style=" float:left; background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none; " class="btn btn-info" >
                        Logout
                    </button>
                 </a>
            </div>

        </div>

    </div>

{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function(){
        $('#upload-img-btn').click(function(){
            $('#upload-img').click();
        });

        $('#upload-img').change(function () {

            if($(this).val() != ""){
                fileLoad(this);
            }
        })

    });

    function change_password() {
        var password = $("#password").val()
        $.post("/accounts/reset-password/",{"password":password,"csrfmiddlewaretoken":"{{ csrf_token }}"},function(result){
            alert("Successfully changed");
          });

    }



    function fileLoad(ele){
        var formData = new FormData();

        var name = $(ele).val();

        var files = $(ele)[0].files[0];

        formData.append("file", files);
        formData.append("name", name);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        $.ajax({
            url: "/accounts/change-avatar/",
            type: 'POST',
            data: formData,
            processData: false,// jquery don't process the data
            contentType: false, // jQuery not to set Content-Type
            beforeSend: function () {
            },
            success: function (responseStr) {
               // successfully change
               $("#avatar").attr("src", JSON.parse(rchengedesponseStr)['avatar'] + "?a"+Date());
               alert("Successfully changed");
            }
            ,
            error : function (FresponseStr) {
                alert("Fail to edit");
            }
        });
    }
    </script>
{% endblock %}


