{% block head %}
    <title>Autama</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block csstyle %}
    <style>
            .bottom{
                padding: 0rem 0;
                border-bottom-left-radius: 5rem;
                text-align: center;
                background-color: rgb(92,67,197);
                height: 8rem;
            }

            .toplab{
                background-color: #ff4e50;
                text-align: center;
                height: 4rem;
                width: 100%;
            }

            .Autama-text-logo{
                padding-top: 0.75rem;
                padding-bottom: 1rem;
                width: 18rem;
                height: 4rem;
                object-fit: contain;
            }

            .nav-tabs{
                border: none;
                /*padding-left: 2.5vw;*/
            }

	    .bitmap{
                padding-top: 0.5rem;
                padding-bottom: 0.75rem;
                width: 3.75rem;
                height: 6rem;
                object-fit: contain;
            }

            .line{
                height: 4rem;
                background-color: rgb(92,67,197);
            }

            .line .bg{
                width: 100%;
                height: 100%;
                background-color: #fff;
                border-top-right-radius: 10rem;
            }

            .register_button{
                background: #ff4e50;
                height: 5rem;
                width: 10rem;
                color: white;
                font-size: 2rem;
                text-align: center;
                vertical-align: middle;
                border-radius: 5rem;
            }
    </style>
{% endblock %}

{% block js %}


    <script>

        function addFields() {
            parentDiv = document.getElementById('essentials-container');
            all_fields = ["firstname","lastname","interest1","interest2","interest3","interest4","interest5","interest6"];

            for (i = 0; i < all_fields.length; i++) {
                var currField = all_fields[i];

                var textbox = document.createElement('input');
                textbox.type = 'text';
                textbox.className = 'form-control';
                textbox.id = currField;
                textbox.placeholder = currField;
                textbox.name = currField;
                textbox.required = true;

                var label = document.createElement('label');
                label.htmlFor = currField;
                label.appendChild(document.createTextNode(currField));

                parentDiv.appendChild(document.createElement('br'));
                parentDiv.appendChild(label);
                parentDiv.appendChild(textbox);
            }

            document.getElementById("expand-fields-button").remove();
            document.getElementById("call-to-action").remove();
        }




    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="toplab">
            <img class="Autama-text-logo" src="/Images/images/autama-text-logo.png">
        </div>

        <div>
            <div class="bottom">
                <ul class="nav nav-tabs">
                	<li class="nav-item" style="float:left; padding-left: 4rem;"><a href="/login/"><img class="bitmap" src="/Images/Images/back-chevron.png"></a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <div class="line">
                <div class="bg">
                </div>
            </div>
        </div>
    </div>

    <div style="width: 80%;margin: auto;">
        <h1> Create an Account</h1>

        <br>

        <div style="color: red; font-size: 2rem">{{ error }}</div>

        <form action="/accounts/register/" method="post">
            <div id="essentials-container">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                </div>

                <div class="form-group">
                    <label for="rePassword">Confirmed Password</label>
                    <input type="password" class="form-control" id="rePassword" placeholder="Confirmed Password" name="rePassword" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                </div>

            </div> <!-- end essentials-container -->

            <!-- Asking for more information. -->
            <!--<div id="call-to-action">
                <p style="font-size: 18px;">Hey! Care to help us expand our collection of Autama? Click on the button "More fields" to create one.</p>
            </div>-->

            <!-- Expanding entry fields button. -->
            <br>
            <!--<button id="expand-fields-button" style="background-image: linear-gradient(90deg, #6737E5 50%, #B93FA3 80%); border-style: none;" type="button" class="btn btn-info" onclick="addFields()" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;">More fields</button>-->

            <!-- Register account button. -->
            <input hidden name="id" value="{{ user.id }}">
            <button class="register_button" type="submit">Register</button>
            {% csrf_token %}
        </form>
        <br>

    </div>
{% endblock %}
