{% extends 'base.html' %}
{% block content %}
    <style>
        .center {
            margin: auto;
            width: 50%;

        }
    </style>
    <div style="margin-bottom: 80px"></div>
    <div class="center">
        <span style="text-align: center;">
            <div class="center" style="font-size: 24px; font-weight: bold">Wow!</div>
            <div class="center">You've seen all of the Autama currently generated.  Start over from the begining?</div> <br>
            <div>
                <img class="seenbutton" id="stay" style="height: 85px; width: 85px;"  src="../Images/Images/dislike-button.png">
                <img class="seenbutton" id="again" style="height: 85px; width: 85px;"  src="../Images/Images/like-button.png">
            </div>
        </span>
    </div>
    <script>
    $(".seenbutton").click(function(e) {
        $.ajax({
            type: "POST",
            url: "/SeenAll/",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                id: e.target.id,
            },
            success: function(msg) {
                if (e.target.id === "again") {
                    window.location.href = '/FindMatches/'
                } else {
                    window.location.href = '/MyMatches/'
                }
            }
        });
    });
    </script>
{% endblock %}
