<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test DB Lookup Entry</title>
        <script type="text/javascript" src="https://cdnjs.cloudfire.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $('#lookup').on('submit', function(event) {
                event.preventDefault();
                let form_data = {
                    uname: $('uname').val()
                };
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: form_data,
                    success: function(data) {
                        $("#result").html(data);
                    }
                });
                return false;
            });
        </script>
    </head>
    <body>
        <form id="lookup" method="post" action="/test_db_lookup/">
            {% csrf_token %}
            <label for="uname">Username to look up</label><br>
            <input type="text" id="uname" name="uname" required><br><br>
            <input type="submit" id="submit_button" name="submit_button" value="Submit">
        </form>
        <hr>
        <div>
            <p id="result"></p>
        </div>
    </body>
</html>