<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test DB Lookup Entry</title>
    </head>
    <body>
        <form id="lookup" method="post" action="/test_db_lookup/">
            {% csrf_token %}
            <label for="uname">Username to look up</label><br>
            <input type="text" id="uname" name="uname" required><br><br>
            <input type="submit" id="submit_button" name="submit_button" value="Submit">
        </form>
        <hr>
        <div>
            <p>Name: {{ uname }}</p>
            <p>First: {{ first }}</p>
            <p>Last: {{ last }}</p>
            <p>Interests: {{ int1 }}</p>
            <p>Interests: {{ int2 }}</p>
            <p>Interests: {{ int3 }}</p>
            <p>Interests: {{ int4 }}</p>
            <p>Interests: {{ int5 }}</p>
        </div>
    </body>
</html>