<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Testing DB Add Entry</title>
    </head>
    <body>
        <form id="add_profile_form" method="post" action="/test_db_add/">
            {% csrf_token %}
            <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname" required><br>
            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname" required><br>
            <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" pattern="^.+@.+\..{3,}$" required><br>
            <label for="int1">Interest:</label><br>
            <input type="text" id="int1" name="int1" required><br>
            <label for="int2">Interest:</label><br>
            <input type="text" id="int2" name="int2" required><br>
            <label for="int3">Interest:</label><br>
            <input type="text" id="int3" name="int3" required><br>
            <label for="int4">Interest:</label><br>
            <input type="text" id="int4" name="int4" required><br>
            <label for="int5">Interest:</label><br>
            <input type="text" id="int5" name="int5" required><br>
            <br>
            <input type="submit" value="Post"/>
        </form>
    </body>
</html>